# Ignore dataset files and archives
/fvc2002/*.tif
/fvc2002/DB1_B.zip

# Python environment
venv/
.env
.env.*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg
*.whl

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyCharm
.idea/
*.iml

# VS Code
.vscode/

# macOS
.DS_Store

# Logs and runtime files
*.log
*.sqlite3

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Temporary files
*.tmp
*.temp

# Others
*.swp
*~
